.themBtn {
    border: 1px solid $gray-200;
    box-shadow: none;
    outline: none;
    background-color: rgba($theme2, 0.1);
    font-size: 15px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: $theme2;
    &::before{
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        background-color: $theme2;
    }
    &:hover{
        z-index: 1;
        color: $white;
        &::before{
            height: 800%;
        }
    }
    &.darkBtn{
        background-color: $theme1;
        &::before{
            background-color: $white;
        }
        &:hover{
            color: $black;
        }

    }
}

@include media-breakpoint-down(sm) {
    .themBtn{
        padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    }
} 