@charset "UTF-8";

// hero section start
@include media-breakpoint(basic) {
    .hero-section {
        position: relative;
        & .swiper-slide {
            // padding: 70px 0px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            & .hero-subheading {
                font-size: 18px;
                color: $white;
                letter-spacing: 3px;
                animation:fadeInUp 1.2s ease backwards;
                & .pie-chart {
                    height: 30px;
                    width: 30px;
                }
            }
            
            & .hero-heading {
                font-size:60px;
                color: $white;
                line-height: 100%;
                animation:fadeInUp 1.5s ease backwards;
                // & .hero-animation {
                //     &::before {
                //         content: '';
                //         position: absolute;
                //         top: 0;
                //         left: 0;
                //         height: 100%;
                //         width: 100%;
                //         background: url(../img/index/main-slide.png) no-repeat;
                //         background-size: 100%;
                //         background-position: center center;
                //         z-index: -1;
                //         animation: zoom-fade 5s linear 0s infinite;
                //     }
                //     @keyframes zoom-fade {
                //         0% {
                //           transform: scale(1);
                //         }
                        
                //         10% {
                //           transform: scale(1.05);
                //         }
                        
                //         20% {
                //             transform: scale(1.1);
                //         }
                        
                //          30% {
                //             transform: scale(1);
                //         }
                        
                //         40% {
                //           transform: scale(1.1);
                //         }
                        
                //         50% {
                //           transform: scale(1.1);
                //         }
                        
                //         90% {
                //           transform: scale(1);
                //         }
                        
                //         100% {
                //           opacity: 1;
                //           transform: scale(1);
                //         }
                //       }
                //     }
            }
            & .subHeroHeading {
                font-size: 20px;
                font-weight: 500;
            }
            & .hero-title {
                font-size: 17px;
                animation:fadeInUp 1.7s ease backwards;
            }
            & .hero-btn {
                animation:fadeInUp 1.8s ease backwards;
            }
            & .slideBtn {
                animation:fadeInUp 1.9s ease backwards;
            }
            
            &.swiper-slide-active{
                @keyframes fadeInUp{
                    0%{
                        transform:translate(0px, 200px);
                        opacity: 0;
                    }
                    100%{
                        transform:translate(0px, 0);
                        opacity: 1;
                    }
                }
            }
        }    
        & .swiper-slider1 {
            background: linear-gradient(rgba($black, 0.4), rgba($black, 0.4)), url(../img/index/heroimg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        } 
        & .swiper-slider2 {
            background-image: url(../img/index/slider-2.png);
        }
        & .swiper-button-next, & .swiper-button-prev{
            left: 10px;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-color: $white;
            // display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease-in-out 0.3s;
            display: none !important;
            &:hover{
                background-color: $theme1;
            }
        }
        & .swiper-button-next {
            &::after {
                font-size: 10px;
                color: $black;
                font-weight: 600;
            }
        }
        & .swiper-button-prev {
            
            top: 40%;
            &::after {
                font-size: 10px;
                color: $black;
                font-weight: 600;
            }
        }
        & .hero-content {
            & .hero-icon {
                height: 105px;
                width: 105px;
                & .hand-icon {
                    height: 50px;
                    width: 50px;
                }
            }
            & .hero-content2 {
                height: 105px;
                & .hero-checkout {
                    font-size: 10px;
                    letter-spacing: 3px;
                }
                & .hero-rates {
                    font-size: 16px;
                }
            }
        }
        & .innercontainer {
            // &::before{
            //     content: '01';
            //     position: absolute;
            //     z-index: 2;
            //     bottom: 10px;
            //     left: 15px;
            //     font-size: 25px;
            //     font-weight: 600;
            //     color: $theme1;
            // }
            & .scroll{
                position: absolute;
                transform: rotate(90deg);
                color: $white;
                font-weight: 500;
                left: 50%;
                bottom: 0px;
                transform: translateX(-50%);
                & span {
                    height: 40px;
                    & img {
                        height: 30px;
                    }
                }
            }
        }
    }
}
// hero section end

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    .hero-section{
        // height: calc(100vh - 120px);
        height: 100vh;
        min-height: 550px;
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xxl) {
    .hero-section {
        & .swiper-slide {
            & .hero-subheading {
                & .pie-chart {
                }
            }
            @keyframes fadeInUp{
                0%{
                }
                100%{

                }
            }
            & .hero-heading {
                & .hero-animation {
                    &::before {
                    }
                    @keyframes zoom-fade {
                        0% {
                        }                       
                       10% {
                        }
                        
                        20% {
                        }
                        
                        30% {
                        }
                        
                        40% {

                        }                        
                        50% {
                        }
                        
                        90% {
                        }
                        
                        100% {
                        }
                      }
                    }
            }
            & .hero-title {
            }
            & .hero-btn {
            }
        }    
        & .swiper-slider1 {
        } 
        & .swiper-slider2 {
        }
        & .swiper-button-next {
            &::after {
            }
        }
        & .swiper-button-prev {
            &::after {
            }
        }
        & .hero-content {
            & .hero-icon {                
                & .hand-icon {
                }
            }
            & .hero-content2 {
                & .hero-checkout {
                }
                & .hero-rates {
                }
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl) {
    .hero-section {
        & .swiper-slide {
            & .hero-subheading {
                & .pie-chart {
                }
            }
            @keyframes fadeInUp{
                0%{
                }
                100%{

                }
            }
            & .hero-heading {
                & .hero-animation {
                    &::before {
                    }
                    @keyframes zoom-fade {
                        0% {
                        }                       
                       10% {
                        }
                        
                        20% {
                        }
                        
                        30% {
                        }
                        
                        40% {

                        }                        
                        50% {
                        }
                        
                        90% {
                        }
                        
                        100% {
                        }
                      }
                    }
            }
            & .hero-title {
            }
            & .hero-btn {
            }
        }    
        & .swiper-slider1 {
            background-position: right;
        } 
        & .swiper-slider2 {
        }
        & .swiper-button-next {
            &::after {
            }
        }
        & .swiper-button-prev {
            &::after {
            }
        }
        & .hero-content {
            & .hero-icon {                
                & .hand-icon {
                }
            }
            & .hero-content2 {
                & .hero-checkout {
                }
                & .hero-rates {
                }
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(lg) {
    .hero-section {
        & .swiper-slide {
            & .hero-subheading {
                font-size: 17px;
                & .pie-chart {
                }
            }
            @keyframes fadeInUp{
                0%{
                }
                100%{

                }
            }
            & .hero-heading {
                font-size: 45px;
                & .hero-animation {
                    &::before {
                    }
                    @keyframes zoom-fade {
                        0% {
                        }                       
                       10% {
                        }
                        
                        20% {
                        }
                        
                        30% {
                        }
                        
                        40% {

                        }                        
                        50% {
                        }
                        
                        90% {
                        }
                        
                        100% {
                        }
                      }
                    }
            }
            & .hero-title {
                font-size: 16px;
            }
            & .hero-btn {
            }
        }    
        & .swiper-slider1 {
        } 
        & .swiper-slider2 {
        }
        & .swiper-button-next {
            &::after {
            }
        }
        & .swiper-button-prev {
            &::after {
            }
        }
        & .hero-content {
            & .hero-icon {
                height: 95px;
                width: 95px;
                & .hand-icon {
                    height: 40px;
                    width: 40px;
                }
            }
            & .hero-content2 {
                height: 95px;
                & .hero-checkout {
                }
                & .hero-rates {
                }
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
    .hero-section {
        & .innercontainer {
            min-height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .swiper-slide {
            & .hero-subheading {
                font-size: 16px;
                & .pie-chart {
                }
            }
            @keyframes fadeInUp{
                0%{
                }
                100%{

                }
            }
            & .hero-heading {
                font-size: 40px;
                & .hero-animation {
                    &::before {
                    }
                    @keyframes zoom-fade {
                        0% {
                        }                       
                       10% {
                        }
                        
                        20% {
                        }
                        
                        30% {
                        }
                        
                        40% {

                        }                        
                        50% {
                        }
                        
                        90% {
                        }
                        
                        100% {
                        }
                    }
                    }
            }
            & .hero-title {
                // font-size: 13px;
            }
            & .hero-btn {
            }
        }    
        & .swiper-slider1 {
        } 
        & .swiper-slider2 {
        }
        & .swiper-button-next {
            &::after {
            }
        }
        & .swiper-button-prev {
            &::after {
            }
        }
        & .hero-content {
            & .hero-icon {
                height: 75px;
                width: 75px;
                & .hand-icon {
                    height: 35px;
                    width: 35px;
                }
            }
            & .hero-content2 {
                height: 75px;
                & .hero-checkout {
                    font-size: 9px;
                }
                & .hero-rates {
                    font-size: 15px;
                }
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
    .hero-section {
        & .swiper-slide {
            & .hero-subheading {
                font-size: 14px;
                & .pie-chart {
                    min-height: 25px;
                    min-width: 25px;
                }
            }
            @keyframes fadeInUp{
                0%{
                }
                100%{

                }
            }
            & .hero-heading {
                font-size: 35px;
                & .hero-animation {
                    &::before {
                    }
                    @keyframes zoom-fade {
                        0% {
                        }                       
                       10% {
                        }
                        
                        20% {
                        }
                        
                        30% {
                        }
                        
                        40% {

                        }                        
                        50% {
                        }
                        
                        90% {
                        }
                        
                        100% {
                        }
                    }
                    }
            }
            & .hero-title {
                font-size: 14px;
            }
            & .hero-btn {
            }
        }    
        & .swiper-slider1 {
        } 
        & .swiper-slider2 {
        }
        & .swiper-button-next {
            &::after {
            }
        }
        & .swiper-button-prev {
            &::after {
            }
        }
        & .hero-content {
            & .hero-icon {
                height: 65px;
                width: 65px;
                & .hand-icon {
                    height: 30px;
                    width: 30px;
                }
            }
            & .hero-content2 {
                height: 65px;
                & .hero-checkout {
                    font-size: 8px;
                }
                & .hero-rates {
                    font-size: 14px;
                }
            }
        }
    }
}
// hero section end
