
// topbar start
.map-mail {
    font-size: 13px;
    color: $white;
    // line-height: 27px;
    & .map-mail-icon {
        height: 18px;
        width: 18px;
        & img {
            filter: grayscale(1);
        }
    }
}
.top-social-icon {
    height: 18px;
    width: 18px;
    & .topsocial-img {
        filter: grayscale(1);
        transition: all 0.3s ease-out 0s ;
    }
    &:hover {
        & .topsocial-img {
        filter: grayscale(0);
        }
    }
}
// topbar end

// navbar start
.navbar {
height: 70px;
& .nav-logo {
    height: 65px;
    & img {
        object-fit: contain;
    }
}
& .navbar-nav {
    & .nav-item {
        & .nav-link {
            font-size: 16px;
            z-index: 1;
            transition: all 0.3s ease-in-out;
            color: $white;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: $theme1; 
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.3s ease-in-out;     
            }
            &:hover {
                color: $theme1;
                &::after {
                    transform: scaleX(1);
                    transform-origin:left;
                }
            }
            &.active {
                color: $theme1;
                &::after {
                    transform: scaleX(1);
                    transform-origin:left;
                }
            }
        }
        & .drop-link-main {
            left: 0;
            top: 63px;
            // opacity: 0;
            // visibility: hidden;
            display: none;
            z-index: 2;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 0px 6px rgba($black, .1);
            & .drop-list {
                // padding: 10px 0;
                & .drop-link {
                    font-size: 14px;
                    white-space: nowrap;
                    color: $black;
                    transition: all 0.3s ease-in-out;
                    background: transparent;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: $theme2; 
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s ease-in-out;  
                    z-index: -1;
                }
                &:hover, &.active {
                    &::before {
                        // width: 100%;
                        transform: scaleX(1);
                        transform-origin:left;
                    }
                    & .drop-link {
                        color: $white;
                    }
                }
            }
        }
        &:hover {
            & .drop-link-main {
                // opacity: 1;
                // visibility: visible;
                display: block;
            }
        }
    }
    & .aplyBtn {
        &.themBtn  {
            background-color: $theme1;
        &::before{
            background-color: $white;
        }
        &:hover{
            color: $black;
        }
        }
    }
}
& .search-bar {
    height: 23px;
    width: 23px;
    & .search-img {
        filter: brightness(0); 
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        & .search-img {
            filter: brightness(1); 
        }
    }
}
& .menu-btn {
    height: 30px;
    width: 30px;
}
&.fixed-navbar {
background-color: $white;
// background: rgb(234,234,234);
// background: linear-gradient(0deg, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 43%);
box-shadow: 0px 0px 5px rgba($black, .1);
top: 0;
position: fixed !important;
-webkit-backface-visibility: visible !important;
backface-visibility: visible !important;
-webkit-animation-name: flipInX;
animation-name: flipInX;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
// background: #000 !important;
@keyframes flipInX {
0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
}

40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
   -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
}
80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
}
100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
}
}
& .logo1{
    display: none;
}
& .logo2 {
    display: block !important;
}
& .navbar-nav {
    & .nav-item {
        & .nav-link {
            color: $black;
            &::after{
                background-color: $theme2;
            }
            &.active{
                color: $theme2;
            }
        }
    }
    & .aplyBtn {
        &.themBtn  {
            background-color: rgba($theme2, 0.1);
        &::before{
            background-color: $theme2;
        }
        &:hover{
            color: $white;
        }
        }
    }
}
& .menu-btn {
    & img {
        filter: invert(1);
    }
}
}
}
.navv-offcanvas {
width: 280px !important;
background-color: darken($primary, 47);
& .offcanvas-logo {
    height: auto;
    height: 40px;
}
& .btn-close {
    width: 18px;
}
& .navv-offcanvas-body {
    & .offcanvas-link {
        font-size: 14px;
        display: flex;
        color: $white;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
    }
    & .collapse-link {
        color: $theme1;
        &::after {
            transform: rotate(90deg);
            background-color: $theme1;
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, rgba($theme1, .1), rgba($theme1, .1)), url(../img/Navbar/rightarrow.svg);
            background-position: center;
            background-size: 7px;
        }
    }
    & .collapsed {
        font-size: 13px;
        color: $white;
        &::after {
            // background-color: $theme1;
            // height: 20px;
            // width: 20px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // background-image: linear-gradient(to right, rgba($theme1, .9), rgba($theme1, .9)), url(../img/Navbar/rightarrow.svg);
            // background-position: center;
            // background-size: 7px;
            transform: rotate(0);
        }
    }
    & .offcanvas-link-inner {
        font-size: 13px;
        color: $white;
        display: flex;
    }
    & .map-mail-icon {
        height: 25px;
        width: 25px;
        padding: 6px;
        & img {
            filter: brightness(10);
        }
    }
}
}

// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xxl) {
.top-bar {
    & .map-mail {
        & .map-mail-icon {
        }
    }
    & .top-social-icon {
        & .topsocial-img {
            filter: brightness(9);
        }
        &:hover {
            & .topsocial-img {
            }
        }
    }
}
.navbar {
    & .nav-logo {
    }
    & .nav-offcanvas {
        & .navbar-nav {
            & .nav-item {
                & .nav-link {
                    &::after { 
                    }
                    &:hover {
                        &::after {
                        }
                    }
                    & .active {
                        &::after {
                        }
                    }
                }
                & .drop-link-main {
                    & .drop-list {
                        & .drop-link {
                        }
                        &::before {

                        }
                        &:hover {
                            &::before {
                            }
                            & .drop-link {
                            }
                        }
                    }
                }
                &:hover {
                    & .drop-link-main {
                    }
                }
            }
        }
    }
    & .search-bar {
        & .search-img {
        }
        &:hover {
            & .search-img {
            }
        }
    }
    
}
}
// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl){
.top-bar {
    & .map-mail {
        & .map-mail-icon {
        }
    }
    & .top-social-icon {
        & .topsocial-img {
            filter: brightness(9);
        }
        &:hover {
            & .topsocial-img {
            }
        }
    }
}
.navbar {
    & .nav-logo {
    }
    & .navbar-nav {
        gap: 24px;
        & .nav-item {
                & .nav-link {
                    font-size: 15px;
                    &::after { 
                    }
                    &:hover {
                        &::after {
                        }
                    }
                    & .active {
                        &::after {
                        }
                    }
                }
                & .drop-link-main {
                    & .drop-list {
                        & .drop-link {
                        }
                        &::before {

                        }
                        &:hover {
                            &::before {
                            }
                            & .drop-link {
                            }
                        }
                    }
                }
                &:hover {
                    & .drop-link-main {
                    }
                }
        }
    }
    & .search-bar {
        & .search-img {
        }
        &:hover {
            & .search-img {
            }
        }
    }
    
}
}
// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(lg) {
.navbar {
    height: 60px;
    padding: 0px;
    & .nav-logo {
        height: 55px;
    }
    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                &::after {    
                }
                &:hover {
                    &::after {
                    }
                }
                & .active {
                    &::after {
                    }
                }
            }
            & .drop-link-main {
                & .drop-list {
                    & .drop-link {
                    }
                    &::before {
                    }
                    &:hover {
                        &::before {
                        }
                        & .drop-link {
                        }
                    }
                }
            }
            &:hover {
                & .drop-link-main {
                }
            }
        }
    }
    & .search-bar {
        & .search-img {
        }
        &:hover {
            & .search-img {
            }
        }
    }
    & .menu-btn {
    }
}
.drop-link-main {
    position: static !important;
}
}
// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
.navbar {
    & .nav-logo {
    }
    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                &::after {    
                }
                &:hover {
                    &::after {
                    }
                }
                & .active {
                    &::after {
                    }
                }
            }
            & .drop-link-main {
                & .drop-list {
                    & .drop-link {
                    }
                    &::before {
                    }
                    &:hover {
                        &::before {
                        }
                        & .drop-link {
                        }
                    }
                }
            }
            &:hover {
                & .drop-link-main {
                }
            }
        }
    }
    & .search-bar {
        height: 20px;
        width: 20px;
        & .search-img {
        }
        &:hover {
            & .search-img {
            }
        }
    }
    & .menu-btn {
    }
}
.navv-offcanvas {
    & .offcanvas-logo {
    }
    & .navv-offcanvas-body {
        & .offcanvas-link {
            font-size: 14px;
        }
        & .collapse-link {
            &::after {                  
            }
        }
        & .collapsed {
            &::after {
            }
        }
        & .offcanvas-link-inner {
        }
        & .map-mail-icon {
            & img {
            }
        }
    }
}
}
// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm){
.navbar {
    height: 65px;
    & .nav-logo {
        width: auto;
        height: 58px;
    }
    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                &::after {    
                }
                &:hover {
                    &::after {
                    }
                }
                & .active {
                    &::after {
                    }
                }
            }
            & .drop-link-main {
                & .drop-list {
                    & .drop-link {
                    }
                    &::before {
                    }
                    &:hover {
                        &::before {
                        }
                        & .drop-link {
                        }
                    }
                }
            }
            &:hover {
                & .drop-link-main {
                }
            }
        }
    }
    & .search-bar {
        height: 17px;
        width: 17px;
        & .search-img {
        }
        &:hover {
            & .search-img {
            }
        }
    }
    & .menu-btn {
        height: 27px;
        width: 27px;
    }
}
.navv-offcanvas {
    & .offcanvas-logo {
    }
    & .navv-offcanvas-body {
        & .offcanvas-link {
            font-size: 14px;
        }
        & .collapse-link {
            &::after {
                height: 20px;
                width: 20px;
            }
        }
        & .collapsed {
            &::after {
            }
        }
        & .offcanvas-link-inner {
        }
        & .map-mail-icon {
            & img {
            }
        }
    }
}
}