@import "./variables";
@import "./fonts.scss";
@import "./mixins";
@import "./typography";
@import "./pa.scss";
@import "./sh.scss";
@import "./mo.scss";
@import "./su.scss";
@import "./sh.scss";

body {
    
    overflow: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    // display: none;
}